.col-sm-9 {
    margin-bottom: 0.5em;
    height: auto;
}


.image {
   width: 262px; border: none;
}

.outer {
    height: 90px;
    line-height: 90px;
}

.inner {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
/*
.col-lg-3, .col-md-3, col-sm-4, .col-sx-12  {
    border:1px solid #0083C9;
}
*/
/*
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
{
    border:1px solid #000000;
}
*/
.block {
    max-width:262px
}
.block img {
    max-width:100%
}
 
 .img-responsive {
display: block;
max-width: 100%;
height: auto;
}

.header_phone {
	font-size: 20px;
	 font-weight: bold;

}


.header_text_address {
	font-size: 20px;
	 font-weight: bold;
}

.center_text_header {
    text-align: center;
}
.header_top {
    background: none repeat scroll 0 0 #b7cce3;
    height: 60px;
}

.glyphicon-color {
    color: #0083C9;
}

.col-lg-3 .right_text_header {
    text-align:  right;
    margin-left: 60px !important;
}


.col-lg-3 .logo  {
    text-align: right;
}

.col-md-3 .logo  {
    text-align: left;
}

.col-sm-12 .logo  {
    text-align: center;
}

.col-xs-12 .logo  {
    text-align: center;
}



.col-md-3 .right_text_header {
    text-align: right;
    margin-left: 0;
}

.col-sm-4 .right_text_header {
    text-align: center;
    margin-left: 0;
}


.col-xs-12 .right_text_header {
    text-align: center;
}

.header-bottom-searh {
    padding-bottom: 5px;
    padding-top: 5px;

}
.search_box {
    text-align: center;
}


* {box-sizing: border-box;}
.searh_form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.searh_input {
    width: 100%;
    height: 44px;
    padding-left: 10px;
    border: 2px solid #0083C9;
    border-radius: 5px;
    outline: none;
    background: #FFFFFF;
    color: #000000;
}
.searh_button {
    position: absolute;
    top: 0;
    right: 0px;

    border: none;
    background: #0083C9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
searh_button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #000000;
}

.glyphicon-color-search {
    color: #ffffff;
    text-align: center;
}


.fa-lock {
   color: #ffffff;
}

.lock a {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.lock a:hover {
    color: #ffa54d;
}